
<div class="flex flex-col gap-4 relative">
  <h2 class="text-2xl font-bold text-gray-700">Quản lý mượn/trả</h2>
  <%- include('../error') %>
  <%- include('../errorMessageWithQuery') %>
  <%-include('../successMessageWithQuery') %>
  <a href="/borrow/add" class="text-white hover:underline bg-green-600 w-52 text-center p-2 rounded">Thêm phiếu mượn</a>
  <form id="search-form" class="flex flex-col gap-4">
    <div class="flex flex-col sm:flex-row items-center flex-wrap justify-center gap-2">
      <input
        name="q"
        type="text"
        placeholder="Tìm kiếm tên sách, người mượn..."
        value="<%= query.q || '' %>"
        class="flex-1 border rounded px-3 py-2 max-w-md w-full"
      />
      <select
        class="flex-1 border rounded px-3 py-2 max-w-md w-full"
        name="sort"
        id="sort"
      >
        <option value="">--Sắp xếp mượn/trả--</option>
        <option value="borrow_date-asc" <%= query.sort === 'borrow_date-asc' ? 'selected' : '' %>>Sắp xếp theo ngày mượn cũ dần</option>
        <option value="borrow_date-desc" <%= query.sort === 'borrow_date-desc' ? 'selected' : '' %>>Sắp xếp theo ngày mượn mới dần</option>
        <option value="createdAt-desc" <%= query.sort === 'createdAt-desc' ? 'selected' : '' %>>Mới nhất</option>
        <option value="createdAt-asc" <%= query.sort === 'createdAt-asc' ? 'selected' : '' %>>Cũ nhất</option>
      </select>
      <button class="bg-blue-600 w-full sm:w-25 text-white px-4 py-2 rounded">
        Tìm kiếm
      </button>
    </div>
  </form>
  <div class="overflow-x-auto relative">
    <table
      class="min-w-full bg-white border rounded border-gray-200 relative z-0"
    >
      <thead class="sticky top-0 bg-gray-50 z-10">
        <tr>
          <th
            class="px-6 py-3 border-b border-gray-200 text-left text-sm font-semibold text-gray-600"
          >
            #
          </th>
          <th
            class="px-6 py-3 border-b border-gray-200 text-left text-sm font-semibold text-gray-600"
          >
            ngày hẹn mượn
          </th>
          
          <th
            class="px-6 py-3 border-b border-gray-200 text-left text-sm font-semibold text-gray-600"
          >
            hạn trả
          </th>
          <th
            class="px-6 py-3 border-b border-gray-200 text-left text-sm font-semibold text-gray-600"
          >
            trạng thái
          </th>
          <th
            class="px-6 py-3 border-b border-gray-200 text-left text-sm font-semibold text-gray-600"
          >
            sách
          </th>
          <th
            class="px-6 py-3 border-b border-gray-200 text-left text-sm font-semibold text-gray-600"
          >
            người mượn
          </th>
          
          
          <th
            class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-sm font-semibold text-gray-600"
          >
            Hành động
          </th>
        </tr>
      </thead>
      <tbody class="relative z-0">
        <% borrows.forEach((borrow, index) => { %>
        <tr class="hover:bg-gray-100 relative">
          <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">
            <%= ++index %>
          </td>
          <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">
            <%= borrow.borrow_date.toLocaleDateString() %>
          </td>
          <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">
            <%= borrow.due_date.toLocaleDateString() %>
          </td>
          <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">
            <%= constantsReverse[borrow.status] %>
          </td>
          <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">
            <div class="flex flex-col gap-1">
              <% borrow.books.forEach((book) => { %>
                <a href="/books/detail/<%= book.id %>"><%= book.title %> </a>
                <% }) %>
              </div>
            </td>
            <td class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700">
              <a href="/users/detail/<%= borrow.borrower.id %>" >
                <%= borrow.borrower.fullname %>
              </a>
            </td>
            
          <td
            class="px-6 py-4 border-b border-gray-200 text-sm text-gray-700 relative"
          >     
              <a
                href="/borrow/detail/<%= borrow.id %>"
                class="text-center text-sm font-medium p-2 bg-green-100 text-green-600 hover:underline block mb-1 hover:bg-green-200 rounded px-1"
                >Chi tiết</a
              >
              <% if(borrow.status === constants.REQUESTED) {%>
                <a
                href="/borrow/mark-as-rejected/<%= borrow.id %>"
                class="text-center text-sm font-medium p-2 bg-red-100 text-red-600 hover:underline block mb-1 hover:bg-green-200 rounded px-1"
                >Từ chối</a
              >
              <a
                href="/borrow/mark-as-approved/<%= borrow.id %>"
                class="text-center text-sm font-medium p-2 bg-green-100 text-green-600 hover:underline block mb-1 hover:bg-green-200 rounded px-1"
                >Chấp nhận</a
              >
              <% }%>
              <% if(borrow.status === constants.APPROVED) {%>
                <a
                href="/borrow/mark-as-borrowed/<%= borrow.id %>"
                class="text-center text-sm font-medium p-2 bg-green-100 text-green-600 hover:underline block mb-1 hover:bg-green-200 rounded px-1"
                >Đã lấy sách</a
              >
              <% }%>
              
              <% if(borrow.status === constants.BORROWED) {%>
                <a
                href="/borrow/mark-as-expired/<%= borrow.id %>"
                class="text-center text-sm font-medium p-2 bg-red-100 text-red-600 hover:underline block mb-1 hover:bg-green-200 rounded px-1"
                >Quá hạn</a
              >
              <% }%>
              <% if(borrow.status === constants.BORROWED || borrow.status === constants.EXPIRED) {%>
               
              <a
                href="/borrow/mark-as-returned/<%= borrow.id %>"
                class="text-center text-sm font-medium p-2 bg-blue-100 text-blue-600 hover:underline block mb-1 hover:bg-green-200 rounded px-1"
                >Đã trả</a
              >
              <% }%>
              
              
              <a
                href="/borrow/detail/<%= borrow.id %>"
                class="text-center text-sm font-medium p-2 bg-yellow-100 text-yellow-600 hover:underline block mb-1 hover:bg-green-200 rounded px-1"
                >phạt</a
              >
            </div>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
  <%- include('../partials/pagination', { totals, page, query }) %>

  
</div>
  <script>
    function toggleMenu(id) {
      document.querySelectorAll('[id^="menu-"]').forEach((m) => {
        if (m.id !== "menu-" + id) m.classList.add("hidden");
      }); // Hiện / ẩn menu được chọn
      const menu = document.getElementById("menu-" + id);
      menu.classList.toggle("hidden");
    }
    document.addEventListener("click", (e) => {
      if (!e.target.closest("td")) {
        document
          .querySelectorAll('[id^="menu-"]')
          .forEach((m) => m.classList.add("hidden"));
      }
    });
  </script>

<script src="js/dispatchSelectForm.js"></script>
<script>
  dispatchSelectForm('#search-form', '#sort');
</script>
