<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title || "Trang quản trị" %></title>
    <link href="/css/styles.css" rel="stylesheet" />
  </head>

  <body class="bg-gray-100 min-h-screen flex flex-col">
    <!-- HEADER -->
    <%- include("partials/header") %>

    <!-- BODY -->
    <div class="flex flex-1 relative overflow-hidden">
      <!-- SIDEBAR -->
      <%- include("partials/sidebar") %>

      <!-- MAIN -->
      <main class="flex-1 p-6 overflow-x-auto"><%- body %> <%-script%></main>
    </div>

    <!-- FOOTER -->
    <%- include("partials/footer") %>
  </body>
</html>
